

.center {
    margin:0 auto;
}
.mdl-card--expand{
    background: url(../image/welcome_card.jpg) center / cover
}
.wide {
width:100%;
}
main > .mdl-cell--4-col{
    

}
.mdl-cell--5-col > *{
    margin-top: 10px;
}
.mdl-cell--6-col > *{
    margin-top: 10px;
}
.mdl-cell--4-col > *{
    margin-top: 10px;
}
.mdl-cell--1-col{
    height: 0;
}
.img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.player {
width: 100%;
padding: 0;
border-collapse: collapse;
}
.maxlen {
white-space: nowrap;
display: inline-block;
vertical-align:top;
max-width: 10em;
overflow: hidden;
text-overflow: ellipsis;
}
@media (min-width: 40em) {
.maxlen	{
    max-width: 20em;
}
}
@media (min-width: 60em) {
.maxlen	{
    max-width: 30em;
}
}
    .demo-list-two{
        max-height: 400px;
        overflow-y: auto;
    }
    .demo-list-two > li:hover{
        background-color: gray;
        cursor: pointer;
    }
    .log-show{
        display: block;
    }
    .log-hidden{
        display: none;
    }
    #reg_form{
        margin-top: 10px;
    }
    .demo-list-item > li:hover{
        background-color: gray;
        cursor: pointer;
    }
    .shit-tabs{
        margin: 0;
border: none;
padding: 0 24px;
float: left;
position: relative;
display: block;
text-decoration: none;
height: 48px;
line-height: 48px;
text-align: center;
font-weight: 500;
font-size: 14px;
text-transform: uppercase;
color: rgba(0,0,0,.54);
    }
    .search-top-hidden #search_tabs{
        display: none;
    }
    .mdl-layout__drawer{
        width: 350px;
        -webkit-transform: translateX(-360px);
        transform: translateX(-360px);
    }
    .nav-content{
        margin-top: 10px;
    }
    .mdl-list__item--two-line{
        height: 48px;
    }
    .mdl-list__item-avatar.material-icons{
        width: 36px;
        height: 36px;
        font-size: 36px;
    }
    .mdl-textfield{
        padding: 20px 0;
    }
    .shit-player > .mdl-card{
        width: auto;
    }
    .lyrics-container{
        height: 400px;
    }
    .music-sub-info > *{
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    #player_like{
        border-radius: 50%;
        color: red;
        font-size: 35px;
        cursor: pointer;
    }
    #playlist_album_show_conatiner{
        width: 100%;
    }
    .show-info-img{
        width: 100px;
        height: 100px;
    }

    

    #lyrics_list{
        list-style: none;
    }
    #lyrics_list{
        transition: all 0.1s;
    }
    #lyrics_list > li{
        text-align: center;
    }

    #button_switch_page{
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: center;
    }
    .switch-search{
        margin: 0;
    }
    #lyrics_list > li{
        text-shadow: 0 0 2px white;
        color : grey;
    }
    #lyrics_list > li.lrc-light{
        text-shadow: 0 0 2px black;
        color: white;
    }
    #show_to_search{
        position: absolute;
        top: 15PX;
        right: 15PX;
    }
    #playlist_album_show_conatiner{
        position: relative;
    }
    #show_info_name{
        position: absolute;
        top: 10px;
        left: 120px;
        font-size: 18px;
    }
    .FPA-type{
        color: white;
        background-color: #3f51b5;
        border-radius: 3px;
        font-size: 10px;
        padding: 4px 6px;
        margin-right: 5px;
    }
    .material-icons{
        cursor: pointer;
    }
    #show_favor{
        position: absolute;
        left: 120px;
        padding: 1px 10px;
        bottom: 5px;
        font-size: 14px;
    }
    .show-sub-info{
        position: relative;
    }
    .player-slider-containr{
        width: 100%;
    }
    .mdl-slider__container{
        width: 100%;
    }

::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #01579b;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}
    .text-ellipsis{
        text-overflow: ellipsis;
        max-width: 65%;
    }